## Problem 1: Unique Words in a Sentence

In [1]:
s =  "python is easy and python is powerful"
words = s.split()
unique_words = set(words)
count = len(unique_words)
print("Unique words count:",count)
print("Unique words:",unique_words)

Unique words count: 5
Unique words: {'easy', 'python', 'powerful', 'is', 'and'}

# Problem 2: Highest Salary from Employee Data

In [4]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_salary = max(employees.values())

for name, salary in employees.items():
    if salary == highest_salary:
        print("Highest Salary:", name, "-", salary)

Highest Salary: Ravi - 75000

## Problem 3: Find Maximum and Minimum Values

In [5]:
numbers = [45, 22, 89, 10, 66]

maximum = max(numbers)
minimum = min(numbers)

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# Problem 4: Count Products Above Price Threshold

In [6]:
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

# Problem 5: Calculate Attendance Percentage

In [7]:
attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

percentage = (present_days / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

# Problem 6: Remove Duplicate Phone Numbers

In [8]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [9]:
text = "python"

freq = {}

for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Problem 8: Convert List to Tuple

In [10]:
numbers = [10, 20, 30]

t = tuple(numbers)

print("Tuple:", t)

Tuple: (10, 20, 30)

# Problem 9: Check if Key Exists in Dictionary

In [11]:
employees = {"Ravi": 75000, "Anita": 68000}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

# Problem 10: Calculate Average Marks

In [12]:
marks = [70, 80, 65, 75]

average = sum(marks) / len(marks)

print("Average Marks:", average)

Average Marks: 72.5